html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
}


body{
    color: #081c15;   
    font-family: arial;
    font-size: 1.6rem;
    background-color: #74C69D;
    margin: 0;
}

h1{
    margin-top: 0;
    display: inline-block;
}

.main-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0rem;
    background-color: rgb(86, 171, 145);   
}



.main-titulo{
    flex-grow: 1;
    
}
.main-nav__menu{
    text-decoration: none;
}

.main-nav__item{
    text-decoration: none;
    display: inline-block;
    
}

.main-nav__item a{
    color: white;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
}

.main-nav__item a:hover{
    color: white;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    outline: solid white;
    outline-offset: 4px;
}

.form{
    width: 60%;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c7f9cc;
    margin-right: auto;
    margin-left: auto;  
    margin-bottom: 2rem;
    border-radius: 1.2rem;     
}

.form__cont{

}

.grupo-lista{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #c7f9cc;
    box-shadow: 0px 0px 50px #081C15;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    border-radius: 25px;   
}

.ingrediente{
    text-align: center;
    width: 30rem;
    height: 30rem;
}

.ingrediente img{
    width: 80%;
    height: 80%;
    border-radius: 13rem;
    box-shadow: 0px 0px 50px rgb(158, 158, 158); 
    margin: 20px;  
}
.ingrediente img:hover{  
    position: relative;
    top: -1rem;
    width: 80%;
    height: 80%
    border-radius: 13rem;
    box-shadow: 0px 0px 50px grey; 
    margin: 20px;
}

.ingrediente a{
    text-decoration: none;
    color: black;
}

