*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.container{
    border: 0.3rem solid black;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}

.box{
    height: 10rem;
    text-align: center;
    flex-basis: 10rem;
    flex-grow: 1;
}



.box1{
    background-color: rgb(35, 140, 233);
}

.box2{
    background-color: red;
}

.box3{
    background-color: blue;
}

.box4{
    background-color: yellow;
}

.box5{
    background-color: greenyellow;
}

.box6{
    background-color: pink;

}

